S3method(plot,DE.dist)
S3method(print,DE.dist)
export(DE)
export(DE.crit.path)
export(DE.dist)
export(DE.fit)
export(DE.graphviz)
export(RMSR)
export(is.recur)
export(ram.2.cor)
import(MASS)
import(MBESS)
import(OpenMx)
import(igraph)
import(sem)
